*, *::before, *::after {
  box-sizing: border-box;
}

#root {
    height: 1vh;
}

html, body {
  height: 100%;
}

body {    
  background-color: #1a1a1a;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

canvas {    
    position: absolute;
}

input[type="file"] {
  display: none;
}

